target/
**/target/
__pycache__/
**/__pycache__/
*.pyc

\lib_classification\target\
\PythonProject\.idea\
.idea/
project/PythonProject/save_model/rbf/
project/PythonProject/save_model/linear/
project/PythonProject/save_model/mlp/